{% load staticfiles %}

<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Conflict Opposite Choices</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/choose_opposite_opposite.css" %}"></link>
    </head>

    <body>
        <div id="content">
            <h1>Conflict Opposite Choices</h1>
            {% for conflict in conflicts %}
                <p>{{ conflict }}</p>
            {% endfor %}
            <a href="/opposite/" class="btn btn-primary">Back to Show Opposite</a>
        </div>
    </body>
</html>
