{% load staticfiles %}

<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Reasonable Situations</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/show_reasonable.css" %}"></link>
    </head>

    <body>
        <div id="content">
            <h1>Reasonable Situations</h1>
            <a href="/reasonable/dump/" class="btn btn-primary">Download CSV</a>
            {% for template in templates %}
                <h3>{{ template.name }}</h3>
                <div class="reasonable-table">
                    {% for meme in template.memes %}
                        <div id="set-{{ meme.gag_id }}" class="reasonable-set">
                            <div class="reasonable-meme">
                                <img src="/static/memes/{{ template.name }}/{{ meme.gag_id }}.jpg" />
                            </div>
                            <div class="reasonable-situation">
                                <p>
                                    {% if meme.chosen %}
                                        Chosen as a reasonable question.
                                        <a class="btn btn-danger" href="/reasonable/remove/{{ meme.gag_id }}">Remove</a>
                                    {% else %}
                                        Not chosen yet.
                                        <a class="btn btn-success" href="/reasonable/choose/{{ meme.gag_id }}">Choose</a>
                                    {% endif %}
                                </p>
                                <p>
                                    {% if meme.sure %}
                                        You are a {{ meme.normal_subject }}, and {{ meme.scene }}.
                                    {% else %}
                                        <form action="/reasonable/insert/" method="post">
                                            {% csrf_token %}
                                            You are a {{ meme.normal_subject }}, and <input type="text" name="scene" class="form-control" value="{{ meme.scene }}" />.
                                            <input type="hidden" name="gag_id" value="{{ meme.gag_id }}" />
                                        </form>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
