{% load staticfiles %}

<!doctype html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Reasonable Situations</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static "css/flat-ui.css" %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static "css/show_reasonable.css" %}"></link>
    </head>

    <body>
        <div id="content">
            <h1>Reasonable Situations</h1>
            {% for template in templates %}
                <h3>{{ template.name }}</h3>
                <div class="reasonable-table">
                    {% for meme in template.memes %}
                        <div class="reasonable-set">
                            <div class="reasonable-meme">
                                <img src="/static/memes/{{ template.name }}/{{ meme.gag_id }}.jpg" />
                            </div>
                            <div class="reasonable-situation">
                                {{ meme.situation }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
